body
{
  font-family: 'Arial';
  margin: 0px;
  padding: 0px;
}

article
{
  margin-left: auto;
  margin-right: auto;
  width: 640px;
}

header
{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

small
{
  font-weight: normal;
}

#playground
{
  width: 640px;
  height: 480px;
}

#playgroundTop
{
  height: 54px;
  font-weight: bold;
}

#borderTop
{
  width: 580px;
  height: 54px;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 5px;
  background-image: url('ui/images/frame-top.png');
  background-size: contain;
}

#playgroundMiddle
{
  height: 406px;
}

#borderLeft
{
  float: left;
  width: 20px;
  height: 406px;
  background-image: url('ui/images/frame-left.png');
  background-size: contain;
}

#screen
{
  float: left;
  background-color: black;
}

#borderRight
{
  float: left;
  width: 20px;
  height: 406px;
  background-image: url('ui/images/frame-right.png');
  background-size: contain;
}

#playgroundBottom
{
  height: 20px;
  clear: both;
}

#borderBottom
{
  width: 640px;
  height: 20px;
  background-image: url('ui/images/frame-bottom.png');
  background-size: contain;
}

footer
{
  padding-top: 20px;
  padding-bottom: 20px;
}
